<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>謝仁翔20230926</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:blue; font-size:60px;}
		h2 {color:#33ff33; font-size:40px;}
		{padding: 0;margin: 0;}
      header,section,footer{background-color: #d6ccc2;border:5px #9d8189 solid;padding: 30px 20px 50px;margin: 30px;}
	</style>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<script>
		function change1() {
  			document.getElementById("pic").src = "mad.png";
  			document.getElementById("h2text").innerText = "靜宜資管";
		}

		function change2() {
  			document.getElementById("pic").src = "yuuki.jpg";
  			document.getElementById("h2text").innerText = "Xiang";
		}
	</script>

</head>
<body>
	<header>
				<img src="yuuki.jpg" width="110%" id="pic" onmouseover="change1()" onmouseout="change2()"></img>
			
				<h1>謝仁翔</h1>
				<h2 id="h2text">Xiang</h2>
	<header>
		</main>

	<article>
		<h3>關於我</h3>
				個人網頁：<a href="https://www.youtube.com/channel/UCwlsUbOepe1m7ofKRCTaA-w">https://www.youtube.com/channel/UCwlsUbOepe1m7ofKRCTaA-w</a><br>
				FB：<a href="https://www.facebook.com/profile.php?id=100017198418045" target="_blank">https://www.facebook.com/profile.php?id=100017198418045</a><br>
				E-Mail: <a href="samhjh666@gmail.com">samhjh666@gmail.com</a><br>
    <article>
        <h3>MIS資訊人員/助理<h3>
        	我對於這項工作感興趣的地方在於他對我資管系畢業的學生很有利,且工作時間很短,有周休二日,薪資不錯
        	該公司【亨昇國際企業股份有限公司】【Hand Seven International Ent. Co., Ltd.】
            創立於1997年，主要從事紡織、成衣、布料、副料之相關產業，為出口貿易績優廠商，業務量逐年拓展中，快速成長。外銷國家主要為義大利、英國、比利時、匈牙利、俄羅斯等歐洲國家和越南、柬埔寨等東南亞地區。目前台北公司80人，海外協力成衣廠共7500人。
            我覺得我對於資訊專業知識很有信心,且我對於邏輯觀念強、學習意願高工作態度主動積極、具備良好的執行力,善於團隊合作,所以覺得能勝任這項工作<br>
			<h3>推薦影片</h3>
				複雜人生<br>
				<iframe src="https://www.youtube.com/embed/g8ENtHe2hMU?si=nYxF5hz8gNsjWGfN"allowfullscreen></iframe>
			<section> 
                          <h3>何倫碼測驗結果<h3>
                          	<a href="https://guide.104.com.tw/interest/share/SI" target="_blank">https://guide.104.com.tw/interest/share/SI</a><br>
                          <img src="zhi.png">
            </section>
</main>

		<footer>
		Copyright ©  謝仁翔. All Rights Reserved.
	</footer>

		
</body>
</html>
